# dependencies
/node_modules

# production build
/build

# dotenv environment files
.env
.env*.local
.env.local.backup

# misc
.DS_Store
*.log

# IDE/editor configs
.vscode/
.idea/

# local test coverage and cache
coverage/
.cache/

